@model Evento_Front_end.ViewModels.Company.ShowAllCompaniesVM
@{
    ViewData["Title"] = "Companies";
}

<div class="text-center">
    <h1 class="company-text">Task Solvers:</h1>
</div>

<div class="search-container">
    <form method="get" asp-action="companies">
        <input type="text" name="searchTerm" />
        <button type="submit">Search</button>
    </form>
</div>

<form method="get" asp-action="companies">

    <div class="top-bar">
    <div class="dropdown">
        <input type="checkbox" id="dropdown-toggle" hidden>

            <label for="dropdown-toggle" class="dropdown-label">
                Select Filters
            </label>

            <div class="dropdown-list">

            @foreach (var region in Model.Companies
                                        .Select(c => c.Region)
                                        .Distinct())
            {
                <h4>@region</h4>

                @foreach (var municipality in Model.Companies
                                                    .Where(c => c.Region == region)
                                                    .Select(c => c.Municipality)
                                                    .Distinct())
                {
                        <label>
                            <input type="checkbox"
                                name="municipalities"
                                value="@municipality" />
                            @municipality
                        </label>

                        <br />
                }

                <hr />

                }

            <h4>Services</h4>
            <label>
                <input type="checkbox" name="services" value="Security"
                    @(Model.SelectedServices.Contains("Security") ? "checked" : "") />
                Security
            </label>

            <label>
                <input type="checkbox" name="services" value="Cleaning"
                    @(Model.SelectedServices.Contains("Cleaning") ? "checked" : "") />
                Cleaning
            </label>

            <label>
                <input type="checkbox" name="services" value="Transportation"
                    @(Model.SelectedServices.Contains("Transportation") ? "checked" : "") />
                Transportation
            </label>

                <button type="submit">Apply</button>
        </div>
    </div>
    </div>
</form>


@if (Model?.Companies != null)
{
<ul class="company-list">
@foreach (var company in Model.Companies)
    {
        <li class="company-card">
        <img src="@company.LogoUrl" class="company-logo" />
        <br />
        <strong>Name:</strong><br />
        <p>@company.Name</p>
        <strong>Description:</strong><br />
        <p>@company.Description</p>
        <strong>Municipality:</strong><br />
        <p>@company.Municipality</p>
        <h1>
            
            <a class="company-link" 
            asp-action="CompanyDetails" 
            asp-route-companyId="@company.CompanyID">
             @company.Name
            </a>

        </h1>
        </li>
    }
    </ul>
}
else
{
    <p>No companies found</p>
}