@model Evento_Front_end.ViewModels.Company.RequestsVM
@{
    ViewData["Title"] = "Requests";
}

<form asp-controller="Home" asp-action="Requests" method="get">

    <label>Select company</label>

    <select name="companyId">
        @foreach (var company in Model.Companies)
        {
            <option value="@company.CompanyID">
                @company.Name
            </option>
        }
    </select>

    <button type="submit">
        Show Requests
    </button>

</form>

<div class="text-center">
    <h1 class="display-4 request-page">Requests</h1>
</div>

@if (Model?.RequestRows != null  /*&& Model.RequestRows.Any()*/)
{
    <ul class="company-list">
        @foreach (var req in Model.RequestRows)
        {

            <form asp-controller="Request" asp-action="UpdateRequestStatus" method="post">
            <li class="company-card">
                <strong>Customer:</strong> @req.CustomerName <br/>
               <strong>Service:</strong> @req.ServiceName <br/>
                <strong>Description:</strong> @req.Description <br />
                <strong>Created:</strong> @req.CreatedAt.ToString("dd/MM/yyyy HH:mm") <br />
                <input type="hidden" name="requestId" value="@req.RequestID" />
                <input type="hidden" name="serviceId" value="@req.ServiceID" />
                <input type="hidden" name="companyId" value="@req.CompanyID" />
                    <button type="submit" name="status" value="Approved">Accept</button>
                    <button type="submit" name="status" value="Rejected">Decline</button>
                
            </li>
            </form>
        }
    </ul>
}
else
{
    <p>No requests yet</p>
}

