@model Evento_Front_end.ViewModels.Company.RequestsVM
@{
    ViewData["Title"] = "Requests";
}

<div class="text-center">
    <h1 class="display-4">Requests</h1>
</div>

@if (Model?.Requests != null)
{
    <ul class="company-list">
        @foreach (var req in Model.RequestRows)
        {

            <form asp-controller="Request" asp-action="UpdateRequestStatus" method="post">
            <li class="company-card">
                <strong>Customer:</strong> @req.CustomerName <br/>
               <strong>Service:</strong> @req.ServiceName <br/>
                <strong>Description:</strong> @req.Description <br />
                <strong>Status:</strong> 
                @req.Status
                <input type="hidden" name="requestId" value="@req.RequestID" />
                <input type="hidden" name="serviceId" value="@req.ServiceID" />
                    <button type="submit" name="status" value="Approved">Accept</button>
                    <button type="submit" name="status" value="Rejected">Decline</button>
                
            </li>
            </form>
        }
    </ul>
}
else
{
    <p>No requests yet</p>
}

